<h1>Listing clients</h1>

<table>
  <tr>
    <th width="200px">Name</th>
    <th width="300px">Address</th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%=h client.name %></td>
    <td><%=h client.address %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'View Notes', polymorphic_url([client, Note.new]) %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New client', new_client_path %> |
<%= link_to 'Home', "/" %>